main {
    background-color: hsla(42, 75%, 56%, 0.767);
    padding: 20px 0px 20px 0px;
}

img {
    border-radius: 5px;
}

.jogo>a>img {
    height: 374px;
    width: 100%;
}

p {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 22px;
    margin: 0px 0px 30px 10px;
}

.pesquisa {
    align-items: center;
    display: flex;
    width: max-content;
}

.pesquisa>img {
    margin: 0px 5px 30px;
    width: 30px;
    height: 30px;
}

h1 {
    font-family: 'Bebas Neue';
    padding: 0px 30px 0px;
}

input {
    border-radius: 10px;
    padding: 3px;
    margin: 20px 0px 50px 20px;
    opacity: 0.6;
    border-style: none;
}